Scrapy==0.24.2
Twisted==14.0.0
argparse==1.2.1
cffi==0.8.6
characteristic==0.1.0
cryptography==0.5.2
cssselect==0.9.1
distribute==0.6.24
ipython==2.1.0
lxml==3.3.5
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pymongo==2.7.1
queuelib==1.1.1
service-identity==1.0.0
six==1.7.3
w3lib==1.6
wsgiref==0.1.2
zope.interface==4.1.1
