

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container.main {
    margin-top: 70px;
}

.job-box {
    margin: 10px 0;
}

.job-box > h2 {
    font-size: 1.4em;
    margin: 8px 0px;
    color: #1E415E;
}














